.login-container {
  position: absolute;
  top: 20vh;
  left: 0px;

  width: 100vw;

  display:flex;
  flex-direction:column;
  row-gap: 10px;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.notification-container {
  position: sticky;
  top: 10px;

  display:flex;
  justify-content: end;

  padding: 5px;
}

.good-link {
  padding : 2px;
  color: black;
}


.display-user {
  margin-bottom: 10px;
}

.bloggy {
  border-style: solid;
  padding-top: 10px;
  padding-left: 2px;
  padding-bottom: 5px;
  border-width: 1px;
  margin-bottom: 5px;
}

.red-button {
  color: white;
  background-color: red;
  border-style: solid;
  border-radius: 5px;
}

.ded-button {
  visibility: hidden;
}

th, td {
  padding : 10px;
}
